NET "clk"           TNM_NET = "clk";
TIMESPEC "TS_clk" = PERIOD "clk" 20.000 ns HIGH 50.00%;

NET "clk"           LOC=P8;
NET "resetn"        LOC=T6;
NET "reboot_key"    LOC=T4;
NET "soc_fail"      LOC=L7;
NET "pads[1]"       LOC=L8;
# UART
NET "uart_rx"       LOC=R2; #J2 5
NET "uart_tx"       LOC=R1; #J2 6
# QSPI
NET "qspi_cs0"      LOC=T3; 
NET "qspi_sck"      LOC=R11; 
NET "qspi_dq0"      LOC=T10; 
NET "qspi_dq1"      LOC=P10; 
NET "qspi_dq2"      LOC=N12; 
NET "qspi_dq3"      LOC=P12; 
